In [19]:
import pandas as pd
import numpy as np
movies = pd.read_csv('ml-latest-small/movies.csv')
ratings = pd.read_csv('ml-latest-small/ratings.csv')
tags = pd.read_csv('ml-latest-small/tags.csv')

In [20]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [21]:
ratings = ratings.drop(columns = 'timestamp')
ratings

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

In [22]:
tags = tags.drop(columns = 'timestamp')
tags

      userId  movieId               tag
0          2    60756             funny
1          2    60756   Highly quotable
2          2    60756      will ferrell
3          2    89774      Boxing story
4          2    89774               MMA
...      ...      ...               ...
3678     606     7382         for katie
3679     606     7936           austere
3680     610     3265            gun fu
3681     610     3265  heroic bloodshed
3682     610   168248  Heroic Bloodshed

[3683 rows x 3 columns]

In [23]:
tagsRatings = pd.merge(tags, ratings, on = ['userId', 'movieId'])
tagsRatings

      userId  movieId               tag  rating
0          2    60756             funny     5.0
1          2    60756   Highly quotable     5.0
2          2    60756      will ferrell     5.0
3          2    89774      Boxing story     5.0
4          2    89774               MMA     5.0
...      ...      ...               ...     ...
3471     606     6107      World War II     4.0
3472     606     7382         for katie     4.5
3473     610     3265            gun fu     5.0
3474     610     3265  heroic bloodshed     5.0
3475     610   168248  Heroic Bloodshed     5.0

[3476 rows x 4 columns]

In [24]:
df = pd.merge(movies, tagsRatings, on = ('movieId'))

In [25]:
df

,movieId,title,genres,userId,tag,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336,pixar,4.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,474,pixar,4.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,567,fun,3.5
3,2,Jumanji (1995),Adventure|Children|Fantasy,62,fantasy,4.0
4,2,Jumanji (1995),Adventure|Children|Fantasy,62,magic board game,4.0
...,...,...,...,...,...,...
3471,187595,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,62,star wars,4.0
3472,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,anime,3.5
3473,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,comedy,3.5
3474,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,gintama,3.5
3475,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,remaster,3.5

# Data Cleaning

In [26]:
df.isna().sum()

movieId    0
title      0
genres     0
userId     0
tag        0
rating     0
dtype: int64

In [27]:
df['rating'].value_counts()

4.0    999
5.0    883
3.5    577
4.5    496
3.0    274
2.0    102
2.5     80
1.0     31
1.5     26
0.5      8
Name: rating, dtype: int64

In [28]:
ratingList = [0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]

def makeNotFloat(oldList, columnName):
    binaryList = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
    newVals = dict(zip(oldList, binaryList))
    return df[columnName].replace(newVals, inplace = True)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3476 entries, 0 to 3475
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  3476 non-null   int64
 1   title    3476 non-null   object
 2   genres   3476 non-null   object
 3   userId   3476 non-null   int64
 4   tag      3476 non-null   object
 5   rating   3476 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 190.1+ KB

In [29]:
#makeNotFloat(ratingList, 'rating')

In [30]:
df['rating'].value_counts()

4.0    999
5.0    883
3.5    577
4.5    496
3.0    274
2.0    102
2.5     80
1.0     31
1.5     26
0.5      8
Name: rating, dtype: int64

In [31]:
df['rating'] = df['rating'].astype(int)
df['rating'].value_counts()

4    1495
5     883
3     851
2     182
1      57
0       8
Name: rating, dtype: int64

# Testing Models

In [32]:
#user_34_prediction = knn_means.predict('100', '222')
#user_34_prediction

In [33]:
#predictions[:10]

In [34]:
#user = 222
#item = 222
#knn_baseline.predict(user, item)

In [35]:
#from surprise import BaselineOnly
#from surprise.model_selection import cross_validate

In [36]:
#cross_validate(BaselineOnly(), data, verbose = True)

In [37]:
#from surprise import KNNBasic
#KNN = KNNBasic().fit(train)

In [38]:
#KNN.get_neighbors(iid=item, k=1)

In [41]:
import time

from surprise.similarities import cosine, msd, pearson
from surprise import accuracy
from surprise import Reader, Dataset
from surprise.model_selection import train_test_split

#loading the .CSV file into surprise
reader = Reader()
data = Dataset.load_from_df(ratings,reader)
train, test = train_test_split(data, test_size=0.2)

rmseScores = []

from surprise.prediction_algorithms import knns
sim_pearson = {'name':'pearson', 'user_based':False}
basic_pearson = knns.KNNBasic(sim_options=sim_pearson)
start = time.time()
basic_pearson.fit(train)
predictions = basic_pearson.test(test)
thePrediction = f'KNNBasic: {accuracy.rmse(predictions)}'
end = time.time()
store = f'{thePrediction} | Time Elapsed: {np.round(end - start, 2)}/sec'
rmseScores.append(store)

knn_means = knns.KNNWithMeans(sim_options=sim_pearson)
start = time.time()
knn_means.fit(train)
predictions = knn_means.test(test)
thePrediction = f'KNNWithMeans: {accuracy.rmse(predictions)}'
end = time.time()
store = f'{thePrediction} | Time Elapsed: {np.round(end - start, 2)}/sec'
rmseScores.append(store)

sim_pearson = {'name':'pearson', 'user_based':False}
knn_baseline = knns.KNNBaseline(sim_options=sim_pearson)
start = time.time()
knn_baseline.fit(train)
predictions = knn_baseline.test(test)
thePrediction = f'KNNBaseline: {accuracy.rmse(predictions)}'
end = time.time()
store = f'{thePrediction} | Time Elapsed: {np.round(end - start, 2)}/sec'
rmseScores.append(store)

from surprise.prediction_algorithms import SVD
svd = SVD(n_factors=100, n_epochs=10, lr_all=0.005, reg_all=0.4)
start = time.time()
svd.fit(train)
predictions = svd.test(test)
thePrediction = f'SVD: {accuracy.rmse(predictions)}'
end = time.time()
store = f'{thePrediction} | Time Elapsed: {np.round(end - start, 2)}/sec'
rmseScores.append(store)

from surprise import NormalPredictor
normPred = NormalPredictor()
start = time.time()
normPred.fit(train)
predictions = normPred.test(test)
thePrediction = f'NormalPredictor: {accuracy.rmse(predictions)}'
end = time.time()
store = f'{thePrediction} | Time Elapsed: {np.round(end - start, 2)}/sec'
rmseScores.append(store)

from surprise import BaselineOnly
baseline = BaselineOnly()
start = time.time()
baseline.fit(train)
predictions = baseline.test(test)
thePrediction = f'BaselineOnly: {accuracy.rmse(predictions)}'
end = time.time()
store = f'{thePrediction} | Time Elapsed: {np.round(end - start, 2)}/sec'
rmseScores.append(store)

from surprise.prediction_algorithms import NMF
NMF = NMF()
start = time.time()
NMF.fit(train)
predictions = NMF.test(test)
thePrediction = f'NMF: {accuracy.rmse(predictions)}'
end = time.time()
store = f'{thePrediction} | Time Elapsed: {np.round(end - start, 2)}/sec'
rmseScores.append(store)

from surprise.prediction_algorithms import SlopeOne
slopeOne = SlopeOne()
start = time.time()
slopeOne.fit(train)
predictions = slopeOne.test(test)
thePrediction = f'SlopeOne: {accuracy.rmse(predictions)}'
end = time.time()
store = f'{thePrediction} | Time Elapsed: {np.round(end - start, 2)}/sec'
rmseScores.append(store)

from surprise.prediction_algorithms import CoClustering
cluster = CoClustering()
start = time.time()
cluster.fit(train)
predictions = cluster.test(test)
thePrediction = f'CoClustering: {accuracy.rmse(predictions)}'
end = time.time()
store = f'{thePrediction} | Time Elapsed: {np.round(end - start, 2)}/sec'
rmseScores.append(store)

rmseScores

Computing the pearson similarity matrix...
Done computing similarity matrix.
RMSE: 0.9668
Computing the pearson similarity matrix...
Done computing similarity matrix.
RMSE: 0.8982
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
RMSE: 0.8772
RMSE: 0.8892
RMSE: 1.4332
Estimating biases using als...
RMSE: 0.8716
RMSE: 0.9182
RMSE: 0.8985
RMSE: 0.9421

['KNNBasic: 0.9668108624855762 | Time Elapsed: 24.83/sec',
 'KNNWithMeans: 0.8982386363098391 | Time Elapsed: 25.19/sec',
 'KNNBaseline: 0.8771831376325584 | Time Elapsed: 25.36/sec',
 'SVD: 0.8892079316875651 | Time Elapsed: 1.95/sec',
 'NormalPredictor: 1.4332146955202765 | Time Elapsed: 0.18/sec',
 'BaselineOnly: 0.8716163561236904 | Time Elapsed: 0.31/sec',
 'NMF: 0.918191678952027 | Time Elapsed: 4.54/sec',
 'SlopeOne: 0.8985381873971239 | Time Elapsed: 8.92/sec',
 'CoClustering: 0.9421253929617475 | Time Elapsed: 2.52/sec']

In [ ]:
# DON'T run thhis cell. SVDpp takes WAY too long to run.

#from surprise.prediction_algorithms import SVDpp
#SVDpp = SVDpp()
#SVDpp.fit(train)
#predictions = SVDpp.test(test)
#thePrediction = f'KNNBaseline: {accuracy.rmse(predictions)}'